.page {
  display: inline-block;
  height: 100%;
  overflow-y: scroll;
  padding: 60px 0 0 0;
  position: relative;
  width: 375px;
  vertical-align: top;
}

.page--white {
  background-color: #FFFFFF;
}

.page.page--places-index {
  padding-bottom: 40px;
}
