.card {
  background: white;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
  box-sizing: border-box;
  height: 410px;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.card:last-child {
  position: relative;
}

.card__img {
  background: white url('./img/oysterBah0.jpg') center/cover;
  display: block;
  height: 350px;
  width: 100%;
  vertical-align: top;
}

.card__info {
  font-size: 20px;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  text-align: center;
  width: 100%;
}
