.drawer {}

.drawer__header {
  background-color: #ECEFF1;
  border: 0 solid #ECEFF1;
  border-width: 1px 0;
  box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
  cursor: pointer;
  padding: 15px;
}

.drawer__title {
  color: #000000;
  display: inline-block;
  font-size: 20px;
  font-weight: lighter;
}

.drawer__toggle {
  float: right;
  margin-top: 3px;
  transition: all 0.5s;
  width: 16px;
}

.drawer--open .drawer__toggle {
  transform: rotate(0deg);
}

.drawer--closed .drawer__toggle {
  transform: rotate(180deg);
}

.drawer__body {
  overflow-x: scroll;
  overflow-y: hidden;
  transition: all 0.5s;
}

.drawer--closed .drawer__header {
  border-width: 0;
}

.drawer--open .drawer__body {
  height: 110px;
  padding: 15px;
}

.drawer--closed .drawer__body {
  height: 0;
  padding: 0 15px;
}
