.filter-bar {
  background-color: #ECEFF1;
  border: 0 solid #ECEFF1;
  border-width: 1px 0;
  box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
  padding: 15px;
}

.filter-bar__dropdown--left {

}

.filter-bar__dropdown--right {
  float: right;
  right: 0px;
}

.filter-bar__dropdown--right .dropdown__list {
  margin-left: -25px;
}
