.filter-bar {
  border: 0 solid #ECEFF1;
  border-width: 1px 0;
  padding: 15px;
}

.filter-bar__dropdown--left {

}

.filter-bar__dropdown--right {
  float: right;
  right: 0px;
}

.filter-bar__dropdown--right .dropdown__list {
  margin-left: -25px;
}
