.footer--places {
  background: white;
  box-shadow: 0 -1px 1px 1px rgba(0,0,0,0.1);
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  height: 40px;
  padding: 0 20px;
  position: absolute;
  text-align: left;
  width: 100%;
}

.footer--places__text {
  display: inline-block;
  line-height: 40px;
  margin: 0;
}

.footer--places__icon {
  float: right;
  height: 25px;
  margin-top: 7px;
}
